<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.modules.qywx.mapper.WxMapper">
    
    <insert id="replaceIntoDept" parameterType="java.util.List" >
        replace into sys_dept
        (id,name,pid,sort,create_time,enable,enabled,update_time)
        VALUES 
         <foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id},#{item.name},#{item.pid},#{item.sort},now(),'1',true,now())
		</foreach>
    </insert>

    <update id="deleteAllDept">
        update sys_dept set enable='0',enabled=false,update_time=now() where id!='-1'  and type = 'qywx';
    </update>
        
    <insert id="replaceIntoUser" parameterType="java.util.List" >
        replace into sys_user
        (id,username,sort,create_time,update_time,enable,enabled,phone,email,nick_name,sys_dept_id,sex)
        VALUES 
         <foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id},#{item.username},#{item.sort},now(),now(),#{item.enable},#{item.enabled},#{item.phone},#{item.email},#{item.nickName},#{item.deptId},#{item.sex})
		</foreach>
    </insert>


 	<update id="deleteAllUser">
        update sys_user set enable='0',enabled=false,update_time=now() where username!='admin' and type = 'qywx';
    </update>
    
    <update id="updatePassword" parameterType="java.lang.String">
        update sys_user set password= #{password} , update_time=now() where password is null;
    </update>
    
    <select id="findNotRoleUser" resultType="com.ratel.modules.system.domain.SysUser">
       select u.id from sys_user u where  u.id not in (select user_id from sys_users_roles)
    </select>
    
     <insert id="saveDefaultRole" parameterType="java.util.List" >
        insert into sys_users_roles
        (user_id,role_id)
        VALUES 
         <foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id},'1')
		</foreach>
    </insert>

    <update id="setViewDept" parameterType="java.util.List">
        update sys_dept set des_pid='view',update_time=now() where id in (
        <foreach collection="list" index="index" item="item" separator=",">
			 #{item}
		</foreach>
        )
        
    </update>
    <insert id="intoDept" parameterType="java.util.Map" >
        insert into sys_dept
        (id,name,pid,sort,create_time,enable,enabled,update_time,type,status,number_id )
        VALUES
        (#{id},#{name},#{pid},#{sort},now(),'1',true,now(),#{type},#{status},#{numberId})
        ON DUPLICATE KEY UPDATE
        id = values(id) ,
        name = values(name),
        pid = values(pid),
        sort = values(sort) ,
        enable = values(enable),
        enabled = values(enabled) ,
        update_time =now(),
        type = values(type),
        status = values(status),
         number_id = values(number_id)
    </insert>

    <insert id="intoUser" parameterType="java.util.Map" >
        insert into sys_user
        (id,username,sort,create_time,update_time,enable,enabled,phone,email,nick_name,sys_dept_id,sex,type,status,password)
        VALUES
        (#{id},#{username},#{sort},now(),now(),#{enable},#{enabled},#{phone},#{email},#{nickName},#{deptId},#{sex},#{type},#{status},#{password})
        ON DUPLICATE KEY UPDATE
        id = values(id) ,
        username = values(username),
        sort = values(sort),
        update_time =now(),
        enable = values(enable),
        enabled = values(enabled) ,
        phone = values(phone) ,
        email = values(email) ,
        nick_name = values(nick_name) ,
        sys_dept_id = values(sys_dept_id) ,
        sex = values(sex) ,
        type = values(type),
        status = values(status),
        password = values(password)
    </insert>

    <select id="findById" resultType="java.util.Map" parameterType="java.lang.String">
        select * from sys_dept where id = #{id}
    </select>
</mapper>